<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MediaBrowser.Common" version="3.0.10" targetFramework="net45" />
  <package id="MediaBrowser.Server.Core" version="3.0.10" targetFramework="net45" />
  <package id="morelinq" version="1.0.15631-beta" targetFramework="net45" />
</packages>