# Automates creation of Release Drafts using Release Drafter
name: Update Release Draft

on:
  push:
    branches:
      - master

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      # Drafts your next Release notes as Pull Requests are merged into "master"
      - uses: release-drafter/release-drafter@v5.14.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
